.about {
    text-align: center;
    
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.about p {
    max-width: 500px;
    margin: 0 auto 1.5em;
    line-height: 1.4;
}

.absolute {
  position: absolute;
  right: 0;
  opacity: 0;
  animation: slideFromRight 5s ease-in-out;
}

